$color-aqua: #2cb2ed;
$color-blue: #0039b2;
$color-aquaback: #e3f3ff;
$color-orange:#ffa000;
$font-g: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
$font-m: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif !important;

$sm: 1080px;
@mixin  mobile {
    @media screen and (max-width:$sm){
        @content;
    }
}

.pc{
    display:block !important;
    @include mobile{
        display:none !important;
    }
}
.sp{
    display:none !important;
    @include mobile{
        display:block !important;
    }
}
.w-95{
    width:95% !important;
}
div{
    &.mt-sp-1{
        @include mobile{
            margin-top:10px !important;
            font-size:0.85rem;
        }
    }
}
div{
    &.w-25{
        @include mobile{
            width:100% !important;

            div{
                &.d-flex{
                    &.ml-3{
                        div{
                            z-index:111;
                        }
                        &.topicon{
                            margin-left:auto !important;
                            position: fixed;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width:260px;
                            margin-top:60px;
                            z-index:111;
                        }
                    }
                }
            }
        }
    }
}

div{
    &.conforange{
        border-radius:100px;
        min-width:200px;
        width:40%;
        margin:0 auto;
        background-image: url(/img/top/arrow1.svg);
        background-repeat:no-repeat;
        background-position:right 20px  center;
        background-color:$color-orange;

        input{
            border-radius:100px;
            width:100%;
            height:60px;
            background-color: rgba(255, 255, 255, 0);
            border:none;
            color:#fff;
            &:hover{
                background-color: rgba(255, 255, 255, 0.5);

            }
        }
    }
}

div{
    &.toplink{
        position: sticky;
        position: -webkit-sticky;
        z-index:10;
        bottom:10px;
        left:auto;
        right:0px;
   //     display:none;
        margin:0 auto;
        width:90%;
        height:80px;
        text-align: right;
        margin-bottom:20px;
        img{
            width:80px;
        }
    }
}

.title {
    font-size: calc(1.525rem + 0.3vw);
}
img{
    &.logo{
        height:80px;
        @include mobile{
            height:50px;
        }
    }
}
a.linkblock{
    width:100%;
    text-decoration: none;
    display:block;
    &:hover{
        color:#cc0000;
    }
}

.scroll_box {
    width: 100%;
    height: 300px;
    overflow: scroll;
    white-space: nowrap;


  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* スクロールの背景の設定 */
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: 0 0 4px #aaa inset;
  }

  /* スクロールのつまみ部分の設定 */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #1959A8;
  }
}
ul.list-style-none{
    list-style-type: none;
}
div.w-95{
    width:95%;
}

.switchbutton {
	width          : 100px;

	input[type="checkbox"] {
	  display        : none;
	}

	label {
	  display        : block;
	  box-sizing     : border-box;
	  text-align     : left;
	  border         : 2px solid #78bd78;
	  border-radius  : 3px;
	  line-height    : 1;
	  height         : 30px;
	}

	#sample2box {
	  display        :inline-block;
	  height         : 26px;
	  width          : 50%;
	  background     : #ddd;
	  transition     : .3s;
	}

	#sample2check:checked + label #sample2box {
	  transform      : translateX(100%);
	  background     : #78bd78;
	}
}

.cardheight{
    min-height:300px;
}
div.radio{
    label{
        font-size:1.2em;
        margin-right:20px;
        input{
            height:15px;
            width:15px;
        }
    }
}

blockquote {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 20px 60px;
	border-radius: 10px;
	background: #fff;
}
blockquote:before {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 10;
	content: "”";
	color: #ddd;
	font-size: 500%;
}
blockquote:after {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 20px;
	content: "”";
	color: #ddd;
	font-size: 500%;
}
	blockquote p {
		margin: 0;
	}
.form-control{
    &.noborder{
        border:none;
        outline: none;
        pointer-events : none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display:inline;
    }
}
.openclose{
    left:0;
    right:0;
    margin:auto;
    bottom:20px;
    max-width:600px;
}

.topTextArea{
    width:70%;
    height:60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    h4{
        //font-size:1.8em;
        font-weight: bold;
        padding:3px;
    }
}
select{
    &.appearance-normal{
        appearance: normal !important;
        width:100%;
        border:1px  solid #c0c0c0;
        padding:5px;
    }
}


@media (max-width: 980px) {
    .title {
        font-size: 0.85rem;
    }
}

// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
    .title {
      /*font-size: 7.0rem;*/
    }
   }
   // 中デバイス（タブレット, 992px 未満）
   @media (max-width: 991.98px) {
    .title {
    /*  font-size: 4.0rem;*/
    }
   }
   // 小デバイス（横向きモバイル, 768px 未満）
   @media (max-width: 767.98px) {
    .title {
      font-size: 2.0rem;
    }
   }
   // @include media-breakpoint-up(sm) {
   // 極小デバイス（縦向きモバイル, 576px 未満）
   @media (max-width: 575.98px) {
    .title {
      font-size: 1.0rem;
    }
   }




.main_imgBox {
    height: 680px;
    overflow: hidden;
    position: relative;
    @include mobile{
        height:500px;
    }
}

  .main_logo {
    z-index:11;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:auto;
}

  .main_img {
    z-index:10;
    opacity: 0;
    width: 100%;
    height: 680px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 36s 0s infinite;
    animation: anime 36s 0s infinite; }

    .main_img:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; }

    .main_img:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }

    .main_img:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; }

    .main_img:nth-of-type(5) {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; }

    .main_img:nth-of-type(6) {
      -webkit-animation-delay: 30s;
      animation-delay: 30s; }


      @keyframes anime {
        0% {
            opacity: 0;
        }
        8% {
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        25% {
            opacity: 0;
             transform: scale(1.2);
                        z-index:9;
        }
        100% { opacity: 0 }
    }

    @-webkit-keyframes anime {
        0% {
            opacity: 0;
        }
        8% {
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        25% {
            opacity: 0;
             -webkit-transform: scale(1.2);
                z-index:9;
        }
        100% { opacity: 0 }
    }

div.sp-wauto{
    @include mobile{
        width:auto !important;
    }
}

div.sp-menu-icon{
    display:none;
    width:60px;
    position:absolute;
    top:0;
    right:0;
    height:60px;
    background-color:$color-aqua;
    outline: none;
    z-index:110;
    a{
        outline: none;
        display:block;
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#fff;
        text-decoration:none;
    }
    @include mobile{
        display:block;
    }
}

ul.menu-style{
    list-style-type: none;
    height:80px;
    display:table;
    width:100%;
    margin-bottom:0px;
    @include mobile{
        position:fixed;
        left:0;
        top:0;
        z-index:101;
        background-color:#fff;
        display:none;
        padding-left:0;
        height:100%;
        padding-top:160px;
    }
    li{
        font-family: $font-m;
        width:16%;
        margin: 0px 10px;
        display:table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 0.85rem;
        font-weight: bold;

        @include mobile{
            width:100%;
            display:block;
            z-index:101;
            background-color:#fff;
            margin:0;
            text-align:left;
            padding-left:20px;
            padding-bottom:20px;
        }
        a{
            display:block;
            width:100%;
            height:100%;
            line-height:100px;
            text-decoration: none;
            &:hover b{
                opacity: 1.0;
                border-bottom: 1px solid $color-blue;
            }
            @include mobile{
                line-height:50px;
                height:50%;
                width:50%;
                margin:0 auto;
            }
        }
        &:nth-child(5){
            //background: $color-orange;


            a{
                background: linear-gradient(#0075e4, #003dae);
                font-family: $font-g;
                color:#fff;
                @include mobile{
                    width:80%;
                    margin:0 auto;
                    //background: $color-orange;
                    text-align:center;
                }

            }
            &:hover{
                opacity: 0.8;
            }

        }
        &:last-child{
           // background-color:#2cb2ed;
            a{
                background: linear-gradient(#00a8bd, #5ec6c3);
                font-family: $font-g;
                color:#fff;
                @include mobile{
                    width:80%;
                    margin:0 auto;
           //         background: #2cb2ed;
                    text-align:center;
                }
                &:hover{
                    background: $color-orange;
                }
            }
        }

    }

}



div.mainText{
    z-index:100;
    position:absolute;
    top:30%;
    left:0%;
    transform:translate(0%,-30%);
    width:50%;
    height:340px;
    background-color: rgba(255, 255, 255,0.8);
    @include mobile{
        width:95%;
        height:300px;
    }


    .mainText-h2{
        background-image: url("/img/top/circle.png");
        background-size:160px 160px;
        background-repeat: no-repeat;
        font-size:1.25em;
        height:360px;
        width:90%;
        margin:-30px auto;
        p:not(:first-child){
            font-family: $font-m;
        }
        @include mobile{
            font-size:0.85em;
            height:300px;
        }
        div{
            position:absolute;
            top:30px;
            width:90%;
            margin-left:5%;
        }
        p:first-child{
            color:$color-aqua;
            border-bottom:1px solid $color-aqua;
            width:90%;
            font-weight: bold;

        }
        p:nth-child(2){
            width:90%;
            font-size:1.3em;
            @include mobile{
                font-size:1.0em;
            }
        }
        p:nth-child(3){
            width:90%;
            font-size:0.95%;
            @include mobile{
                font-size:1.0em;
            }
        }
        p:nth-child(4){
            width:70%;
            margin:30px 0px 0px;
            border:1px solid #000;
            font-size:0.95%;
            font-weight: bold;
            text-align: center;
            font-family: $font-g;
            padding:5px 0px;
            @include mobile{
                width:90%;
                text-align: left;
                margin-top:0px;
                padding:2%;
                font-size:1.0em;

            }
        }


    }

}


div.freeregist{
    width:80%;
    margin:10px auto;
    &.w100{
        width: 100%;
    }
    @include mobile{
        width:95%;
    }
    div{
        border-radius: 100px;
        background:linear-gradient(#0075e4, #003dae);
        margin-top:60px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
        &:hover{
            background: linear-gradient(#3796ee, #577ab9);
        }
        @include mobile{
        margin-top:5rem;
        }
        .mt0{margin-top:0;}

        &.sqare{
            border-radius: 0px;
            margin-top:0px;
            font-family: $font-g;
            a{
                @include mobile{
                    background-image:url("/img/top/register.svg");
                    background-size:20px;
                    background-repeat: no-repeat;
                    background-position: left 10% center;
                }
            }
        }
    }
    a{
        color:#fff;
        width:100%;
        padding:20px;
        display:block;
        text-align:center;
        text-decoration: none;

        background-image:url("/img/top/arrow1.svg"),url("/img/top/register.svg");
        background-size:40px,20px;
        background-repeat: no-repeat;
        background-position: right 15px center ,left 20% center;

        &.mail{
            border-radius: 0px;
            margin-top:5px;
            background-color:#fff;
            color:$color-blue;
            background-image:none;
            border:2px solid $color-blue;
            font-family: $font-g;
            background-image:url("/img/top/mail.svg");
            background-size:20px;
            background-repeat: no-repeat;
            background-position: left 20% center;
            @include mobile{
                background-position: left 10% center;
            }
        }
    }
}

div.about{
    width:50%;
    img{
        width:100%;
    }
}
div.point{
    width:50%;
    margin-left:auto;
    margin-right: 0;
    img{
        width:100%;
    }
}
div.flow{
    width:30%;
    margin-left:0;
    img{
        width:100%;
    }
}

div.frow{
    width:100%;
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
div.fleft{
    float:left;
    width:50%;
    @include mobile{
        float:none;
        width:100%;
        margin-top:30px;
    }
    img{
        &.w-80{
            width:80%;
        }
    }
}
div.fright{
    float:right;
    width:50%;
    @include mobile{
        float:none;
        width:100%;
        padding-top:20px;
    }
}
div.w-90{
    width:90%;
}
div.w-md-100{
    @include mobile{
        width:100% !important;
    }
}
.w-md-80{
    @include mobile{
        width:80% !important;
    }
}

div.aquaback{
    background-color:$color-aquaback;
    padding-bottom:10%;
}

div.balloon{
    position: relative;
    background: $color-aqua;
    padding: 2px;
    margin:5rem 0;
}
div.balloon:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: $color-aqua transparent transparent transparent;
    border-width: 40px 40px 0 40px;
}
#main6{
    width:100%;
    min-height: 300px;
    background-image: url("/img/top/meritbk1.png"),url("/img/top/meritbk2.png");
    background-size:contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-position: top ,bottom;
    display: table;
}



footer{
    background: linear-gradient(90deg, #0075e4, #003dae);
    color:#fff;
    ul{
        list-style-type: none;
        li{
            float:left;
            margin-right:20px;
            a{
                color:#fff;
            }
            @include mobile{
                float:none;
            }
        }
        &:nth-child(2){
            font-size:11px;
            @include mobile{
                float:none;
            }
        }
        @include mobile{
            float:left;
            width:50%;
        }
    }
    div{
        &.copy{
            text-align: right;
            @include mobile{
                text-align: center;

            }
        }
    }

}



div{
    &.card{
        &.noboarder{
            border:none;
        }
    }
}


#main8,
#main7,
#main6,
#main5,
#main4,
#main3,
#main2,
#main{
    font-family: $font-m;
    h3{
        letter-spacing: 6px;
        padding:5px 80px;
        display: inline;
        background-image: url("/img/top/slash.svg"),url("/img/top/slash.svg");
        background-repeat: no-repeat,no-repeat;
        background-position: left,right;
        @include mobile{
            font-size:0.85rem;
            display:block;
            padding:5px 0px;
            width:90%;
            margin:0 auto;
            letter-spacing: 3px;
        }
    }

    div{
        &#questionarea{
            padding:10% 0px;

        }
        &.main6-area{
            background: linear-gradient(#00a8bd, #5ec6c3);
            width:80%;
            margin:10% auto;
            padding:5%;
            @include mobile{
                width:90%;
            }
            div{
                &.merit-question{
                    width:95%;
                    margin:0 auto;
                    @include mobile{
                        width:100%;
                    }
                    div{
                        div{
                            &.slash{
                                width:80%;
                                margin:0 auto;
                                background-image:url("/img/top/slash2.png"),url("/img/top/slash3.png");
                                background-repeat: no-repeat;
                                background-position: right,left;
                                text-align: center;
                                p{
                                    font-size:0.85em;
                                    @include mobile{
                                        font-size:0.75em;
                                    }
                                }
                                @include mobile{
                                    width:100%;
                                }
                            }
                        }
                    }
                }
                &.main6-merit{
                    background-color:#fff;
                    padding:5% 3%;
                    position: relative;
                    .main6-merit-title{
                        font-size:1.5em;
                        background: linear-gradient(-135deg, #00a8bd, #5ec6c3);
                        text-align:center;
                        color:#fff;
                        padding:10px 0px;
                        border-radius:100px;
                        position:absolute;
                        width:90%;
                        top:-30px;
                        left:0;
                        right:0;
                        margin: auto;
                        border:2px solid #fff;
                        @include mobile{
                            font-size:0.8em;
                        }
                    }
                    .main6-merit-area{
                        width:80%;
                        margin:0 auto;
                        margin-top:6%;
                        @include mobile{
                            width:95%;
                        }
                        div{
                            &.merit-bonus{
                                background-color:$color-orange;
                                padding:3% 5%;
                                display:table;
                                color:#fff;
                                font-family: $font-g;
                                h5{
                                    @include mobile{
                                        font-size:1.0rem;
                                    }
                                }
                                div{
                                    display:table-cell;
                                    &:first-child{
                                        width:35%;
                                        @include mobile{
                                            width:100%;
                                        }
                                    }
                                    &:nth-child(2){
                                       font-size:0.9em;
                                       width:65%;
                                       border-left:1px solid #fff;
                                       padding-left:3%;
                                        @include mobile{
                                            width:100%;
                                            padding-left:0;
                                            border:none;
                                            margin:0;
                                            border-top:1px solid #fff;
                                            padding-top:10px;
                                            font-size:0.55em;
                                        }
                                    }
                                    @include mobile{
                                        display:block;
                                    }
                                }
                            }
                            &.clearfix{
                                @include mobile{
                                    margin-top:5% !important;
                                }
                            }
                            div{
                                &:first-child{
                                    width:12%;
                                    @include mobile{
                                        font-size:0.75em;
                                        width:22%;
                                        margin-top:6% !important;
                                    }
                                }

                                &:nth-child(2){
                                    font-size:1.2rem;
                                    font-weight: bold;
                                    margin-left:5%;
                                    @include mobile{
                                        width:70%;
                                        font-size:0.65rem;
                                        margin-top:6% !important;
                                    }
                                }
                                &:nth-child(3){
                                    font-size:0.85rem;
                                    width:70%;
                                    margin-left:5%;
                                    @include mobile{
                                        width:100%;
                                        font-size:0.65rem;

                                    }
                                }
                            }
                        }

                    }
                    .merit-box{
                        width:100%;
                        text-align: center;
                        padding:10px 0px;
                        background: linear-gradient(90deg, #ffa989, #ffa611);
                        color:#fff;

                        @include mobile{
                            padding:5px;
                        }
                    }
                }
            }
            p{
                color:#fff;
                font-family: $font-g;
                strong{
                    font-size:1.2em;
                }
            }
            h2{
                color:#fff;
                text-align: center;
                margin-top:10px;
                @include mobile{
                    font-size:1.05em;
                }
            }
            img{
                &.secret{
                    @include mobile{
                        position:absolute;
                        top:50%;
                        width: 60% !important;
                    }
                }
            }
            .main6-title{
                background-image:url("/img/top/fukidashi2.png");
                background-repeat: no-repeat;
                background-size:contain;
                width:90%;
                height:100px;
                margin:0 auto;
                text-align:center;
                @include mobile{
                    height:80px;
                    background-size:100% 100%;
                    background-position: center center;
                    width:90%;
                }
                p{
                    padding-top:20px;
                    color:$color-orange;
                    font-weight: bold;
                    font-size:1.5rem;
                    font-family: $font-g;
                    @include mobile{
                        padding:10px;
                        font-size:0.85rem;

                    }
                }
            }
        }
        &#flow{
            margin-top:6rem;
        }
        &.flow-step{
            margin-top:6rem;
            text-align: center;
            h6{
                font-size:1.6rem;
                border:2px solid $color-aqua;
                color:$color-aqua;
                padding:10px 5rem;
                display:inline;
            }
            h4{
                display:block;
                margin-top:2.0rem;
            }
        }
        &.point3,
        &.point2,
        &.point1{
            border-left: 6px solid #003dae;
            border-image: linear-gradient(to top, #003dae 0%, #0075e4 100%);
            border-image-slice: 1;
            min-height: 80px;
            h4{
                color: #109ff9;
                background: -webkit-linear-gradient(0deg, #109ff9, #003dae);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display:block;
            }
            div{
                padding:5px 1.5rem;
            }
        }

        &.point3{
            margin-top:4.5rem;
        }
        &.point1{
            margin-top:3rem;
        }
        &.point2{
            margin-top:6.5rem;
            @include mobile{
                margin-top:0px;
            }
        }
        &.main3-link{
            text-align: right;
            width:100%;
            position:relative;
            a{
                border-radius: 100px;
                background-color:#fff;
                color:#00a8bd;
                text-decoration: none;
                padding:0.6rem 2.4rem;
                &:hover{
                    background-color: $color-orange;
                    color:#fff;
                }
                i{
                    display:inline-block;
                    position: absolute;
                    top: 5px;
                    left: auto;
                    right: 10px;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
        &.main3-text{
            p{
                font-family: $font-g;
                font-size:0.95rem;
            }
        }
        &.main3-detail{
            background: linear-gradient(#00a8bd, #5ec6c3);
        }
        &.main8-detail{
            border:2px solid $color-orange;
            p{
                font-weight: bold;
                padding:0;
                margin:0;
                width:80%;
                margin:0 auto;
                span{
                    color:$color-orange;
                }
                @include mobile{
                    width:95%;
                }
            }

        }
        &.note{
            line-height:36px;
            @include mobile{
                line-height: 24px;
            }
        }


        &.guidence{
            background-image: url("/img/top/bk.png");
            background-repeat: no-repeat;
            background-size:cover;
            @include mobile{
                background-image: url("/img/top/bk_sp.png");
            }
            div.guidence-image-area{
                width:90%;
                margin:0 auto;
                text-align: center;
            }
        }
        &.guidence-area{
            width:100%;

            .fukidashi{
                background-image: url("/img/top/fukidashi.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size:contain;
                text-align: center;
                color:#fff;
                width:100%;
                height:80px;
                font-size:1.2rem;
                padding-top:15px;
                @include mobile{
                    font-size:1.0rem;
                    background-size:100%;
                    padding:3% 0px 8% 0px;
                    height:auto;
                }
            }
        }
    }
    strong {
        &.marker{
            background:linear-gradient(transparent 50%, #bff3ff 0%);
        }
        &.markerOrenge{
            background:linear-gradient(transparent 50%, $color-orange 0%);
        }
    }


    .recrult{
        //background: #00a8bd;
        background: linear-gradient(#00a8bd, #5ec6c3);
        @include mobile{
            margin-top:10px !important;
        }
        a{
          //  background: linear-gradient(#00a8bd, #5ec6c3);
            color:#fff;
            width:100%;
            padding:25px;
            display:block;
            text-align:center;
            text-decoration: none;
            font-size:1.2rem;
            overflow:auto!important;
            overflow /**/: hidden;
            background:
            url("/img/top/shop.svg") no-repeat left 35px center
            ,url("/img/top/arrow2.svg") no-repeat right 15px center;
            background-size:80px,40px;
            font-weight: bold;
            font-family: $font-g;
            @include mobile{
                font-size:1.0rem;
                background:
                url("/img/top/shop.svg") no-repeat left 15px center
                ,url("/img/top/arrow2.svg") no-repeat right 15px center;
                background-size:40px,25px;
            }
            &:hover{
                opacity: 0.8;
                -webkit-transition: 0.3s ease-in-out;
                -moz-transition: 0.3s ease-in-out;
                -o-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
            }
        }
    }

}


