@charset "UTF-8";
.pc {
  display: block !important; }
  @media screen and (max-width: 1080px) {
    .pc {
      display: none !important; } }

.sp {
  display: none !important; }
  @media screen and (max-width: 1080px) {
    .sp {
      display: block !important; } }

.w-95 {
  width: 95% !important; }

@media screen and (max-width: 1080px) {
  div.mt-sp-1 {
    margin-top: 10px !important;
    font-size: 0.85rem; } }

@media screen and (max-width: 1080px) {
  div.w-25 {
    width: 100% !important; }
    div.w-25 div.d-flex.ml-3 div {
      z-index: 111; }
    div.w-25 div.d-flex.ml-3.topicon {
      margin-left: auto !important;
      position: fixed;
      left: 0;
      right: 0;
      margin: auto;
      width: 260px;
      margin-top: 60px;
      z-index: 111; } }

div.conforange {
  border-radius: 100px;
  min-width: 200px;
  width: 40%;
  margin: 0 auto;
  background-image: url(/img/top/arrow1.svg);
  background-repeat: no-repeat;
  background-position: right 20px  center;
  background-color: #ffa000; }
  div.conforange input {
    border-radius: 100px;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #fff; }
    div.conforange input:hover {
      background-color: rgba(255, 255, 255, 0.5); }

div.toplink {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  bottom: 10px;
  left: auto;
  right: 0px;
  margin: 0 auto;
  width: 90%;
  height: 80px;
  text-align: right;
  margin-bottom: 20px; }
  div.toplink img {
    width: 80px; }

.title {
  font-size: calc(1.525rem + 0.3vw); }

img.logo {
  height: 80px; }
  @media screen and (max-width: 1080px) {
    img.logo {
      height: 50px; } }

a.linkblock {
  width: 100%;
  text-decoration: none;
  display: block; }
  a.linkblock:hover {
    color: #cc0000; }

.scroll_box {
  width: 100%;
  height: 300px;
  overflow: scroll;
  white-space: nowrap;
  /* スクロールの背景の設定 */
  /* スクロールのつまみ部分の設定 */ }
  .scroll_box::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  .scroll_box::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: 0 0 4px #aaa inset; }
  .scroll_box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #1959A8; }

ul.list-style-none {
  list-style-type: none; }

div.w-95 {
  width: 95%; }

.switchbutton {
  width: 100px; }
  .switchbutton input[type="checkbox"] {
    display: none; }
  .switchbutton label {
    display: block;
    box-sizing: border-box;
    text-align: left;
    border: 2px solid #78bd78;
    border-radius: 3px;
    line-height: 1;
    height: 30px; }
  .switchbutton #sample2box {
    display: inline-block;
    height: 26px;
    width: 50%;
    background: #ddd;
    transition: .3s; }
  .switchbutton #sample2check:checked + label #sample2box {
    transform: translateX(100%);
    background: #78bd78; }

.cardheight {
  min-height: 300px; }

div.radio label {
  font-size: 1.2em;
  margin-right: 20px; }
  div.radio label input {
    height: 15px;
    width: 15px; }

blockquote {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 60px;
  border-radius: 10px;
  background: #fff; }

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 10;
  content: "”";
  color: #ddd;
  font-size: 500%; }

blockquote:after {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 20px;
  content: "”";
  color: #ddd;
  font-size: 500%; }

blockquote p {
  margin: 0; }

.form-control.noborder {
  border: none;
  outline: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline; }

.openclose {
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  max-width: 600px; }

.topTextArea {
  width: 70%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .topTextArea h4 {
    font-weight: bold;
    padding: 3px; }

select.appearance-normal {
  appearance: normal !important;
  width: 100%;
  border: 1px  solid #c0c0c0;
  padding: 5px; }

@media (max-width: 980px) {
  .title {
    font-size: 0.85rem; } }
@media (min-width: 992px) {
  .title {
    /*font-size: 7.0rem;*/ } }
@media (max-width: 991.98px) {
  .title {
    /*  font-size: 4.0rem;*/ } }
@media (max-width: 767.98px) {
  .title {
    font-size: 2.0rem; } }
@media (max-width: 575.98px) {
  .title {
    font-size: 1.0rem; } }
.main_imgBox {
  height: 680px;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 1080px) {
    .main_imgBox {
      height: 500px; } }

.main_logo {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto; }

.main_img {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 680px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 36s 0s infinite;
  animation: anime 36s 0s infinite; }

.main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s; }

.main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

.main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s; }

.main_img:nth-of-type(5) {
  -webkit-animation-delay: 24s;
  animation-delay: 24s; }

.main_img:nth-of-type(6) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s; }

@keyframes anime {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0;
    transform: scale(1.2);
    z-index: 9; }
  100% {
    opacity: 0; } }
@-webkit-keyframes anime {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    z-index: 9; }
  100% {
    opacity: 0; } }
@media screen and (max-width: 1080px) {
  div.sp-wauto {
    width: auto !important; } }

div.sp-menu-icon {
  display: none;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  background-color: #2cb2ed;
  outline: none;
  z-index: 110; }
  div.sp-menu-icon a {
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none; }
  @media screen and (max-width: 1080px) {
    div.sp-menu-icon {
      display: block; } }

ul.menu-style {
  list-style-type: none;
  height: 80px;
  display: table;
  width: 100%;
  margin-bottom: 0px; }
  @media screen and (max-width: 1080px) {
    ul.menu-style {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 101;
      background-color: #fff;
      display: none;
      padding-left: 0;
      height: 100%;
      padding-top: 160px; } }
  ul.menu-style li {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif !important;
    width: 16%;
    margin: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold; }
    @media screen and (max-width: 1080px) {
      ul.menu-style li {
        width: 100%;
        display: block;
        z-index: 101;
        background-color: #fff;
        margin: 0;
        text-align: left;
        padding-left: 20px;
        padding-bottom: 20px; } }
    ul.menu-style li a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 100px;
      text-decoration: none; }
      ul.menu-style li a:hover b {
        opacity: 1.0;
        border-bottom: 1px solid #0039b2; }
      @media screen and (max-width: 1080px) {
        ul.menu-style li a {
          line-height: 50px;
          height: 50%;
          width: 50%;
          margin: 0 auto; } }
    ul.menu-style li:nth-child(5) a {
      background: linear-gradient(#0075e4, #003dae);
      font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
      color: #fff; }
      @media screen and (max-width: 1080px) {
        ul.menu-style li:nth-child(5) a {
          width: 80%;
          margin: 0 auto;
          text-align: center; } }
    ul.menu-style li:nth-child(5):hover {
      opacity: 0.8; }
    ul.menu-style li:last-child a {
      background: linear-gradient(#00a8bd, #5ec6c3);
      font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
      color: #fff; }
      @media screen and (max-width: 1080px) {
        ul.menu-style li:last-child a {
          width: 80%;
          margin: 0 auto;
          text-align: center; } }
      ul.menu-style li:last-child a:hover {
        background: #ffa000; }

div.mainText {
  z-index: 100;
  position: absolute;
  top: 30%;
  left: 0%;
  transform: translate(0%, -30%);
  width: 50%;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.8); }
  @media screen and (max-width: 1080px) {
    div.mainText {
      width: 95%;
      height: 300px; } }
  div.mainText .mainText-h2 {
    background-image: url("/img/top/circle.png");
    background-size: 160px 160px;
    background-repeat: no-repeat;
    font-size: 1.25em;
    height: 360px;
    width: 90%;
    margin: -30px auto; }
    div.mainText .mainText-h2 p:not(:first-child) {
      font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif !important; }
    @media screen and (max-width: 1080px) {
      div.mainText .mainText-h2 {
        font-size: 0.85em;
        height: 300px; } }
    div.mainText .mainText-h2 div {
      position: absolute;
      top: 30px;
      width: 90%;
      margin-left: 5%; }
    div.mainText .mainText-h2 p:first-child {
      color: #2cb2ed;
      border-bottom: 1px solid #2cb2ed;
      width: 90%;
      font-weight: bold; }
    div.mainText .mainText-h2 p:nth-child(2) {
      width: 90%;
      font-size: 1.3em; }
      @media screen and (max-width: 1080px) {
        div.mainText .mainText-h2 p:nth-child(2) {
          font-size: 1.0em; } }
    div.mainText .mainText-h2 p:nth-child(3) {
      width: 90%;
      font-size: 0.95%; }
      @media screen and (max-width: 1080px) {
        div.mainText .mainText-h2 p:nth-child(3) {
          font-size: 1.0em; } }
    div.mainText .mainText-h2 p:nth-child(4) {
      width: 70%;
      margin: 30px 0px 0px;
      border: 1px solid #000;
      font-size: 0.95%;
      font-weight: bold;
      text-align: center;
      font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
      padding: 5px 0px; }
      @media screen and (max-width: 1080px) {
        div.mainText .mainText-h2 p:nth-child(4) {
          width: 90%;
          text-align: left;
          margin-top: 0px;
          padding: 2%;
          font-size: 1.0em; } }

div.freeregist {
  width: 80%;
  margin: 10px auto; }
  div.freeregist.w100 {
    width: 100%; }
  @media screen and (max-width: 1080px) {
    div.freeregist {
      width: 95%; } }
  div.freeregist div {
    border-radius: 100px;
    background: linear-gradient(#0075e4, #003dae);
    margin-top: 60px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5); }
    div.freeregist div:hover {
      background: linear-gradient(#3796ee, #577ab9); }
    @media screen and (max-width: 1080px) {
      div.freeregist div {
        margin-top: 5rem; } }
    div.freeregist div .mt0 {
      margin-top: 0; }
    div.freeregist div.sqare {
      border-radius: 0px;
      margin-top: 0px;
      font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important; }
      @media screen and (max-width: 1080px) {
        div.freeregist div.sqare a {
          background-image: url("/img/top/register.svg");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: left 10% center; } }
  div.freeregist a {
    color: #fff;
    width: 100%;
    padding: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    background-image: url("/img/top/arrow1.svg"), url("/img/top/register.svg");
    background-size: 40px,20px;
    background-repeat: no-repeat;
    background-position: right 15px center ,left 20% center; }
    div.freeregist a.mail {
      border-radius: 0px;
      margin-top: 5px;
      background-color: #fff;
      color: #0039b2;
      background-image: none;
      border: 2px solid #0039b2;
      font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
      background-image: url("/img/top/mail.svg");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: left 20% center; }
      @media screen and (max-width: 1080px) {
        div.freeregist a.mail {
          background-position: left 10% center; } }

div.about {
  width: 50%; }
  div.about img {
    width: 100%; }

div.point {
  width: 50%;
  margin-left: auto;
  margin-right: 0; }
  div.point img {
    width: 100%; }

div.flow {
  width: 30%;
  margin-left: 0; }
  div.flow img {
    width: 100%; }

div.frow {
  width: 100%; }
  div.frow::after {
    content: "";
    display: block;
    clear: both; }

div.fleft {
  float: left;
  width: 50%; }
  @media screen and (max-width: 1080px) {
    div.fleft {
      float: none;
      width: 100%;
      margin-top: 30px; } }
  div.fleft img.w-80 {
    width: 80%; }

div.fright {
  float: right;
  width: 50%; }
  @media screen and (max-width: 1080px) {
    div.fright {
      float: none;
      width: 100%;
      padding-top: 20px; } }

div.w-90 {
  width: 90%; }

@media screen and (max-width: 1080px) {
  div.w-md-100 {
    width: 100% !important; } }

@media screen and (max-width: 1080px) {
  .w-md-80 {
    width: 80% !important; } }

div.aquaback {
  background-color: #e3f3ff;
  padding-bottom: 10%; }

div.balloon {
  position: relative;
  background: #2cb2ed;
  padding: 2px;
  margin: 5rem 0; }

div.balloon:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #2cb2ed transparent transparent transparent;
  border-width: 40px 40px 0 40px; }

#main6 {
  width: 100%;
  min-height: 300px;
  background-image: url("/img/top/meritbk1.png"), url("/img/top/meritbk2.png");
  background-size: contain,contain;
  background-repeat: no-repeat,no-repeat;
  background-position: top ,bottom;
  display: table; }

footer {
  background: linear-gradient(90deg, #0075e4, #003dae);
  color: #fff; }
  footer ul {
    list-style-type: none; }
    footer ul li {
      float: left;
      margin-right: 20px; }
      footer ul li a {
        color: #fff; }
      @media screen and (max-width: 1080px) {
        footer ul li {
          float: none; } }
    footer ul:nth-child(2) {
      font-size: 11px; }
      @media screen and (max-width: 1080px) {
        footer ul:nth-child(2) {
          float: none; } }
    @media screen and (max-width: 1080px) {
      footer ul {
        float: left;
        width: 50%; } }
  footer div.copy {
    text-align: right; }
    @media screen and (max-width: 1080px) {
      footer div.copy {
        text-align: center; } }

div.card.noboarder {
  border: none; }

#main8,
#main7,
#main6,
#main5,
#main4,
#main3,
#main2,
#main {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif !important; }
  #main8 h3,
  #main7 h3,
  #main6 h3,
  #main5 h3,
  #main4 h3,
  #main3 h3,
  #main2 h3,
  #main h3 {
    letter-spacing: 6px;
    padding: 5px 80px;
    display: inline;
    background-image: url("/img/top/slash.svg"), url("/img/top/slash.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: left,right; }
    @media screen and (max-width: 1080px) {
      #main8 h3,
      #main7 h3,
      #main6 h3,
      #main5 h3,
      #main4 h3,
      #main3 h3,
      #main2 h3,
      #main h3 {
        font-size: 0.85rem;
        display: block;
        padding: 5px 0px;
        width: 90%;
        margin: 0 auto;
        letter-spacing: 3px; } }
  #main8 div#questionarea,
  #main7 div#questionarea,
  #main6 div#questionarea,
  #main5 div#questionarea,
  #main4 div#questionarea,
  #main3 div#questionarea,
  #main2 div#questionarea,
  #main div#questionarea {
    padding: 10% 0px; }
  #main8 div.main6-area,
  #main7 div.main6-area,
  #main6 div.main6-area,
  #main5 div.main6-area,
  #main4 div.main6-area,
  #main3 div.main6-area,
  #main2 div.main6-area,
  #main div.main6-area {
    background: linear-gradient(#00a8bd, #5ec6c3);
    width: 80%;
    margin: 10% auto;
    padding: 5%; }
    @media screen and (max-width: 1080px) {
      #main8 div.main6-area,
      #main7 div.main6-area,
      #main6 div.main6-area,
      #main5 div.main6-area,
      #main4 div.main6-area,
      #main3 div.main6-area,
      #main2 div.main6-area,
      #main div.main6-area {
        width: 90%; } }
    #main8 div.main6-area div.merit-question,
    #main7 div.main6-area div.merit-question,
    #main6 div.main6-area div.merit-question,
    #main5 div.main6-area div.merit-question,
    #main4 div.main6-area div.merit-question,
    #main3 div.main6-area div.merit-question,
    #main2 div.main6-area div.merit-question,
    #main div.main6-area div.merit-question {
      width: 95%;
      margin: 0 auto; }
      @media screen and (max-width: 1080px) {
        #main8 div.main6-area div.merit-question,
        #main7 div.main6-area div.merit-question,
        #main6 div.main6-area div.merit-question,
        #main5 div.main6-area div.merit-question,
        #main4 div.main6-area div.merit-question,
        #main3 div.main6-area div.merit-question,
        #main2 div.main6-area div.merit-question,
        #main div.main6-area div.merit-question {
          width: 100%; } }
      #main8 div.main6-area div.merit-question div div.slash,
      #main7 div.main6-area div.merit-question div div.slash,
      #main6 div.main6-area div.merit-question div div.slash,
      #main5 div.main6-area div.merit-question div div.slash,
      #main4 div.main6-area div.merit-question div div.slash,
      #main3 div.main6-area div.merit-question div div.slash,
      #main2 div.main6-area div.merit-question div div.slash,
      #main div.main6-area div.merit-question div div.slash {
        width: 80%;
        margin: 0 auto;
        background-image: url("/img/top/slash2.png"), url("/img/top/slash3.png");
        background-repeat: no-repeat;
        background-position: right,left;
        text-align: center; }
        #main8 div.main6-area div.merit-question div div.slash p,
        #main7 div.main6-area div.merit-question div div.slash p,
        #main6 div.main6-area div.merit-question div div.slash p,
        #main5 div.main6-area div.merit-question div div.slash p,
        #main4 div.main6-area div.merit-question div div.slash p,
        #main3 div.main6-area div.merit-question div div.slash p,
        #main2 div.main6-area div.merit-question div div.slash p,
        #main div.main6-area div.merit-question div div.slash p {
          font-size: 0.85em; }
          @media screen and (max-width: 1080px) {
            #main8 div.main6-area div.merit-question div div.slash p,
            #main7 div.main6-area div.merit-question div div.slash p,
            #main6 div.main6-area div.merit-question div div.slash p,
            #main5 div.main6-area div.merit-question div div.slash p,
            #main4 div.main6-area div.merit-question div div.slash p,
            #main3 div.main6-area div.merit-question div div.slash p,
            #main2 div.main6-area div.merit-question div div.slash p,
            #main div.main6-area div.merit-question div div.slash p {
              font-size: 0.65em; } }
        @media screen and (max-width: 1080px) {
          #main8 div.main6-area div.merit-question div div.slash,
          #main7 div.main6-area div.merit-question div div.slash,
          #main6 div.main6-area div.merit-question div div.slash,
          #main5 div.main6-area div.merit-question div div.slash,
          #main4 div.main6-area div.merit-question div div.slash,
          #main3 div.main6-area div.merit-question div div.slash,
          #main2 div.main6-area div.merit-question div div.slash,
          #main div.main6-area div.merit-question div div.slash {
            width: 100%; } }
    #main8 div.main6-area div.main6-merit,
    #main7 div.main6-area div.main6-merit,
    #main6 div.main6-area div.main6-merit,
    #main5 div.main6-area div.main6-merit,
    #main4 div.main6-area div.main6-merit,
    #main3 div.main6-area div.main6-merit,
    #main2 div.main6-area div.main6-merit,
    #main div.main6-area div.main6-merit {
      background-color: #fff;
      padding: 5% 3%;
      position: relative; }
      #main8 div.main6-area div.main6-merit .main6-merit-title,
      #main7 div.main6-area div.main6-merit .main6-merit-title,
      #main6 div.main6-area div.main6-merit .main6-merit-title,
      #main5 div.main6-area div.main6-merit .main6-merit-title,
      #main4 div.main6-area div.main6-merit .main6-merit-title,
      #main3 div.main6-area div.main6-merit .main6-merit-title,
      #main2 div.main6-area div.main6-merit .main6-merit-title,
      #main div.main6-area div.main6-merit .main6-merit-title {
        font-size: 1.5em;
        background: linear-gradient(-135deg, #00a8bd, #5ec6c3);
        text-align: center;
        color: #fff;
        padding: 10px 0px;
        border-radius: 100px;
        position: absolute;
        width: 90%;
        top: -30px;
        left: 0;
        right: 0;
        margin: auto;
        border: 2px solid #fff; }
        @media screen and (max-width: 1080px) {
          #main8 div.main6-area div.main6-merit .main6-merit-title,
          #main7 div.main6-area div.main6-merit .main6-merit-title,
          #main6 div.main6-area div.main6-merit .main6-merit-title,
          #main5 div.main6-area div.main6-merit .main6-merit-title,
          #main4 div.main6-area div.main6-merit .main6-merit-title,
          #main3 div.main6-area div.main6-merit .main6-merit-title,
          #main2 div.main6-area div.main6-merit .main6-merit-title,
          #main div.main6-area div.main6-merit .main6-merit-title {
            font-size: 0.8em; } }
      #main8 div.main6-area div.main6-merit .main6-merit-area,
      #main7 div.main6-area div.main6-merit .main6-merit-area,
      #main6 div.main6-area div.main6-merit .main6-merit-area,
      #main5 div.main6-area div.main6-merit .main6-merit-area,
      #main4 div.main6-area div.main6-merit .main6-merit-area,
      #main3 div.main6-area div.main6-merit .main6-merit-area,
      #main2 div.main6-area div.main6-merit .main6-merit-area,
      #main div.main6-area div.main6-merit .main6-merit-area {
        width: 80%;
        margin: 0 auto;
        margin-top: 6%; }
        @media screen and (max-width: 1080px) {
          #main8 div.main6-area div.main6-merit .main6-merit-area,
          #main7 div.main6-area div.main6-merit .main6-merit-area,
          #main6 div.main6-area div.main6-merit .main6-merit-area,
          #main5 div.main6-area div.main6-merit .main6-merit-area,
          #main4 div.main6-area div.main6-merit .main6-merit-area,
          #main3 div.main6-area div.main6-merit .main6-merit-area,
          #main2 div.main6-area div.main6-merit .main6-merit-area,
          #main div.main6-area div.main6-merit .main6-merit-area {
            width: 95%; } }
        #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus,
        #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus,
        #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus,
        #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus,
        #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus,
        #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus,
        #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus,
        #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus {
          background-color: #ffa000;
          padding: 3% 5%;
          display: table;
          color: #fff;
          font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important; }
          @media screen and (max-width: 1080px) {
            #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5,
            #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5,
            #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5,
            #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5,
            #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5,
            #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5,
            #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5,
            #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus h5 {
              font-size: 1.0rem; } }
          #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
          #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
          #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
          #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
          #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
          #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
          #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
          #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div {
            display: table-cell; }
            #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
            #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
            #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
            #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
            #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
            #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
            #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
            #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child {
              width: 35%; }
              @media screen and (max-width: 1080px) {
                #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
                #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
                #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
                #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
                #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
                #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
                #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child,
                #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:first-child {
                  width: 100%; } }
            #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
            #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
            #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
            #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
            #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
            #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
            #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
            #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2) {
              font-size: 0.9em;
              width: 65%;
              border-left: 1px solid #fff;
              padding-left: 3%; }
              @media screen and (max-width: 1080px) {
                #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
                #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
                #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
                #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
                #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
                #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
                #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2),
                #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div:nth-child(2) {
                  width: 100%;
                  padding-left: 0;
                  border: none;
                  margin: 0;
                  border-top: 1px solid #fff;
                  padding-top: 10px;
                  font-size: 0.55em; } }
            @media screen and (max-width: 1080px) {
              #main8 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
              #main7 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
              #main6 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
              #main5 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
              #main4 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
              #main3 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
              #main2 div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div,
              #main div.main6-area div.main6-merit .main6-merit-area div.merit-bonus div {
                display: block; } }
        @media screen and (max-width: 1080px) {
          #main8 div.main6-area div.main6-merit .main6-merit-area div.clearfix,
          #main7 div.main6-area div.main6-merit .main6-merit-area div.clearfix,
          #main6 div.main6-area div.main6-merit .main6-merit-area div.clearfix,
          #main5 div.main6-area div.main6-merit .main6-merit-area div.clearfix,
          #main4 div.main6-area div.main6-merit .main6-merit-area div.clearfix,
          #main3 div.main6-area div.main6-merit .main6-merit-area div.clearfix,
          #main2 div.main6-area div.main6-merit .main6-merit-area div.clearfix,
          #main div.main6-area div.main6-merit .main6-merit-area div.clearfix {
            margin-top: 5% !important; } }
        #main8 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
        #main7 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
        #main6 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
        #main5 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
        #main4 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
        #main3 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
        #main2 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
        #main div.main6-area div.main6-merit .main6-merit-area div div:first-child {
          width: 12%; }
          @media screen and (max-width: 1080px) {
            #main8 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
            #main7 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
            #main6 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
            #main5 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
            #main4 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
            #main3 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
            #main2 div.main6-area div.main6-merit .main6-merit-area div div:first-child,
            #main div.main6-area div.main6-merit .main6-merit-area div div:first-child {
              font-size: 0.75em;
              width: 22%;
              margin-top: 6% !important; } }
        #main8 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
        #main7 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
        #main6 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
        #main5 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
        #main4 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
        #main3 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
        #main2 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
        #main div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2) {
          font-size: 1.2rem;
          font-weight: bold;
          margin-left: 5%; }
          @media screen and (max-width: 1080px) {
            #main8 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
            #main7 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
            #main6 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
            #main5 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
            #main4 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
            #main3 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
            #main2 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2),
            #main div.main6-area div.main6-merit .main6-merit-area div div:nth-child(2) {
              width: 70%;
              font-size: 0.65rem;
              margin-top: 6% !important; } }
        #main8 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
        #main7 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
        #main6 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
        #main5 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
        #main4 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
        #main3 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
        #main2 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
        #main div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3) {
          font-size: 0.85rem;
          width: 70%;
          margin-left: 5%; }
          @media screen and (max-width: 1080px) {
            #main8 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
            #main7 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
            #main6 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
            #main5 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
            #main4 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
            #main3 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
            #main2 div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3),
            #main div.main6-area div.main6-merit .main6-merit-area div div:nth-child(3) {
              width: 100%;
              font-size: 0.65rem; } }
      #main8 div.main6-area div.main6-merit .merit-box,
      #main7 div.main6-area div.main6-merit .merit-box,
      #main6 div.main6-area div.main6-merit .merit-box,
      #main5 div.main6-area div.main6-merit .merit-box,
      #main4 div.main6-area div.main6-merit .merit-box,
      #main3 div.main6-area div.main6-merit .merit-box,
      #main2 div.main6-area div.main6-merit .merit-box,
      #main div.main6-area div.main6-merit .merit-box {
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        background: linear-gradient(90deg, #ffa989, #ffa611);
        color: #fff; }
        @media screen and (max-width: 1080px) {
          #main8 div.main6-area div.main6-merit .merit-box,
          #main7 div.main6-area div.main6-merit .merit-box,
          #main6 div.main6-area div.main6-merit .merit-box,
          #main5 div.main6-area div.main6-merit .merit-box,
          #main4 div.main6-area div.main6-merit .merit-box,
          #main3 div.main6-area div.main6-merit .merit-box,
          #main2 div.main6-area div.main6-merit .merit-box,
          #main div.main6-area div.main6-merit .merit-box {
            padding: 5px; } }
    #main8 div.main6-area p,
    #main7 div.main6-area p,
    #main6 div.main6-area p,
    #main5 div.main6-area p,
    #main4 div.main6-area p,
    #main3 div.main6-area p,
    #main2 div.main6-area p,
    #main div.main6-area p {
      color: #fff;
      font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important; }
      #main8 div.main6-area p strong,
      #main7 div.main6-area p strong,
      #main6 div.main6-area p strong,
      #main5 div.main6-area p strong,
      #main4 div.main6-area p strong,
      #main3 div.main6-area p strong,
      #main2 div.main6-area p strong,
      #main div.main6-area p strong {
        font-size: 1.2em; }
    #main8 div.main6-area h2,
    #main7 div.main6-area h2,
    #main6 div.main6-area h2,
    #main5 div.main6-area h2,
    #main4 div.main6-area h2,
    #main3 div.main6-area h2,
    #main2 div.main6-area h2,
    #main div.main6-area h2 {
      color: #fff;
      text-align: center;
      margin-top: 10px; }
      @media screen and (max-width: 1080px) {
        #main8 div.main6-area h2,
        #main7 div.main6-area h2,
        #main6 div.main6-area h2,
        #main5 div.main6-area h2,
        #main4 div.main6-area h2,
        #main3 div.main6-area h2,
        #main2 div.main6-area h2,
        #main div.main6-area h2 {
          font-size: 1.05em; } }
    @media screen and (max-width: 1080px) {
      #main8 div.main6-area img.secret,
      #main7 div.main6-area img.secret,
      #main6 div.main6-area img.secret,
      #main5 div.main6-area img.secret,
      #main4 div.main6-area img.secret,
      #main3 div.main6-area img.secret,
      #main2 div.main6-area img.secret,
      #main div.main6-area img.secret {
        position: absolute;
        top: 50%;
        width: 60% !important; } }
    #main8 div.main6-area .main6-title,
    #main7 div.main6-area .main6-title,
    #main6 div.main6-area .main6-title,
    #main5 div.main6-area .main6-title,
    #main4 div.main6-area .main6-title,
    #main3 div.main6-area .main6-title,
    #main2 div.main6-area .main6-title,
    #main div.main6-area .main6-title {
      background-image: url("/img/top/fukidashi2.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 90%;
      height: 100px;
      margin: 0 auto;
      text-align: center; }
      @media screen and (max-width: 1080px) {
        #main8 div.main6-area .main6-title,
        #main7 div.main6-area .main6-title,
        #main6 div.main6-area .main6-title,
        #main5 div.main6-area .main6-title,
        #main4 div.main6-area .main6-title,
        #main3 div.main6-area .main6-title,
        #main2 div.main6-area .main6-title,
        #main div.main6-area .main6-title {
          height: 80px;
          background-size: 100% 100%;
          background-position: center center;
          width: 90%; } }
      #main8 div.main6-area .main6-title p,
      #main7 div.main6-area .main6-title p,
      #main6 div.main6-area .main6-title p,
      #main5 div.main6-area .main6-title p,
      #main4 div.main6-area .main6-title p,
      #main3 div.main6-area .main6-title p,
      #main2 div.main6-area .main6-title p,
      #main div.main6-area .main6-title p {
        padding-top: 20px;
        color: #ffa000;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important; }
        @media screen and (max-width: 1080px) {
          #main8 div.main6-area .main6-title p,
          #main7 div.main6-area .main6-title p,
          #main6 div.main6-area .main6-title p,
          #main5 div.main6-area .main6-title p,
          #main4 div.main6-area .main6-title p,
          #main3 div.main6-area .main6-title p,
          #main2 div.main6-area .main6-title p,
          #main div.main6-area .main6-title p {
            padding: 10px;
            font-size: 0.85rem; } }
  #main8 div#flow,
  #main7 div#flow,
  #main6 div#flow,
  #main5 div#flow,
  #main4 div#flow,
  #main3 div#flow,
  #main2 div#flow,
  #main div#flow {
    margin-top: 6rem; }
  #main8 div.flow-step,
  #main7 div.flow-step,
  #main6 div.flow-step,
  #main5 div.flow-step,
  #main4 div.flow-step,
  #main3 div.flow-step,
  #main2 div.flow-step,
  #main div.flow-step {
    margin-top: 6rem;
    text-align: center; }
    #main8 div.flow-step h6,
    #main7 div.flow-step h6,
    #main6 div.flow-step h6,
    #main5 div.flow-step h6,
    #main4 div.flow-step h6,
    #main3 div.flow-step h6,
    #main2 div.flow-step h6,
    #main div.flow-step h6 {
      font-size: 1.6rem;
      border: 2px solid #2cb2ed;
      color: #2cb2ed;
      padding: 10px 5rem;
      display: inline; }
    #main8 div.flow-step h4,
    #main7 div.flow-step h4,
    #main6 div.flow-step h4,
    #main5 div.flow-step h4,
    #main4 div.flow-step h4,
    #main3 div.flow-step h4,
    #main2 div.flow-step h4,
    #main div.flow-step h4 {
      display: block;
      margin-top: 2.0rem; }
  #main8 div.point3, #main8 div.point2, #main8 div.point1,
  #main7 div.point3,
  #main7 div.point2,
  #main7 div.point1,
  #main6 div.point3,
  #main6 div.point2,
  #main6 div.point1,
  #main5 div.point3,
  #main5 div.point2,
  #main5 div.point1,
  #main4 div.point3,
  #main4 div.point2,
  #main4 div.point1,
  #main3 div.point3,
  #main3 div.point2,
  #main3 div.point1,
  #main2 div.point3,
  #main2 div.point2,
  #main2 div.point1,
  #main div.point3,
  #main div.point2,
  #main div.point1 {
    border-left: 6px solid #003dae;
    border-image: linear-gradient(to top, #003dae 0%, #0075e4 100%);
    border-image-slice: 1;
    min-height: 80px; }
    #main8 div.point3 h4, #main8 div.point2 h4, #main8 div.point1 h4,
    #main7 div.point3 h4,
    #main7 div.point2 h4,
    #main7 div.point1 h4,
    #main6 div.point3 h4,
    #main6 div.point2 h4,
    #main6 div.point1 h4,
    #main5 div.point3 h4,
    #main5 div.point2 h4,
    #main5 div.point1 h4,
    #main4 div.point3 h4,
    #main4 div.point2 h4,
    #main4 div.point1 h4,
    #main3 div.point3 h4,
    #main3 div.point2 h4,
    #main3 div.point1 h4,
    #main2 div.point3 h4,
    #main2 div.point2 h4,
    #main2 div.point1 h4,
    #main div.point3 h4,
    #main div.point2 h4,
    #main div.point1 h4 {
      color: #109ff9;
      background: -webkit-linear-gradient(0deg, #109ff9, #003dae);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block; }
    #main8 div.point3 div, #main8 div.point2 div, #main8 div.point1 div,
    #main7 div.point3 div,
    #main7 div.point2 div,
    #main7 div.point1 div,
    #main6 div.point3 div,
    #main6 div.point2 div,
    #main6 div.point1 div,
    #main5 div.point3 div,
    #main5 div.point2 div,
    #main5 div.point1 div,
    #main4 div.point3 div,
    #main4 div.point2 div,
    #main4 div.point1 div,
    #main3 div.point3 div,
    #main3 div.point2 div,
    #main3 div.point1 div,
    #main2 div.point3 div,
    #main2 div.point2 div,
    #main2 div.point1 div,
    #main div.point3 div,
    #main div.point2 div,
    #main div.point1 div {
      padding: 5px 1.5rem; }
  #main8 div.point3,
  #main7 div.point3,
  #main6 div.point3,
  #main5 div.point3,
  #main4 div.point3,
  #main3 div.point3,
  #main2 div.point3,
  #main div.point3 {
    margin-top: 4.5rem; }
  #main8 div.point1,
  #main7 div.point1,
  #main6 div.point1,
  #main5 div.point1,
  #main4 div.point1,
  #main3 div.point1,
  #main2 div.point1,
  #main div.point1 {
    margin-top: 3rem; }
  #main8 div.point2,
  #main7 div.point2,
  #main6 div.point2,
  #main5 div.point2,
  #main4 div.point2,
  #main3 div.point2,
  #main2 div.point2,
  #main div.point2 {
    margin-top: 6.5rem; }
    @media screen and (max-width: 1080px) {
      #main8 div.point2,
      #main7 div.point2,
      #main6 div.point2,
      #main5 div.point2,
      #main4 div.point2,
      #main3 div.point2,
      #main2 div.point2,
      #main div.point2 {
        margin-top: 0px; } }
  #main8 div.main3-link,
  #main7 div.main3-link,
  #main6 div.main3-link,
  #main5 div.main3-link,
  #main4 div.main3-link,
  #main3 div.main3-link,
  #main2 div.main3-link,
  #main div.main3-link {
    text-align: right;
    width: 100%;
    position: relative; }
    #main8 div.main3-link a,
    #main7 div.main3-link a,
    #main6 div.main3-link a,
    #main5 div.main3-link a,
    #main4 div.main3-link a,
    #main3 div.main3-link a,
    #main2 div.main3-link a,
    #main div.main3-link a {
      border-radius: 100px;
      background-color: #fff;
      color: #00a8bd;
      text-decoration: none;
      padding: 0.6rem 2.4rem; }
      #main8 div.main3-link a:hover,
      #main7 div.main3-link a:hover,
      #main6 div.main3-link a:hover,
      #main5 div.main3-link a:hover,
      #main4 div.main3-link a:hover,
      #main3 div.main3-link a:hover,
      #main2 div.main3-link a:hover,
      #main div.main3-link a:hover {
        background-color: #ffa000;
        color: #fff; }
      #main8 div.main3-link a i,
      #main7 div.main3-link a i,
      #main6 div.main3-link a i,
      #main5 div.main3-link a i,
      #main4 div.main3-link a i,
      #main3 div.main3-link a i,
      #main2 div.main3-link a i,
      #main div.main3-link a i {
        display: inline-block;
        position: absolute;
        top: 5px;
        left: auto;
        right: 10px;
        bottom: 0;
        margin: auto; }
  #main8 div.main3-text p,
  #main7 div.main3-text p,
  #main6 div.main3-text p,
  #main5 div.main3-text p,
  #main4 div.main3-text p,
  #main3 div.main3-text p,
  #main2 div.main3-text p,
  #main div.main3-text p {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important;
    font-size: 0.95rem; }
  #main8 div.main3-detail,
  #main7 div.main3-detail,
  #main6 div.main3-detail,
  #main5 div.main3-detail,
  #main4 div.main3-detail,
  #main3 div.main3-detail,
  #main2 div.main3-detail,
  #main div.main3-detail {
    background: linear-gradient(#00a8bd, #5ec6c3); }
  #main8 div.main8-detail,
  #main7 div.main8-detail,
  #main6 div.main8-detail,
  #main5 div.main8-detail,
  #main4 div.main8-detail,
  #main3 div.main8-detail,
  #main2 div.main8-detail,
  #main div.main8-detail {
    border: 2px solid #ffa000; }
    #main8 div.main8-detail p,
    #main7 div.main8-detail p,
    #main6 div.main8-detail p,
    #main5 div.main8-detail p,
    #main4 div.main8-detail p,
    #main3 div.main8-detail p,
    #main2 div.main8-detail p,
    #main div.main8-detail p {
      font-weight: bold;
      padding: 0;
      margin: 0;
      width: 80%;
      margin: 0 auto; }
      #main8 div.main8-detail p span,
      #main7 div.main8-detail p span,
      #main6 div.main8-detail p span,
      #main5 div.main8-detail p span,
      #main4 div.main8-detail p span,
      #main3 div.main8-detail p span,
      #main2 div.main8-detail p span,
      #main div.main8-detail p span {
        color: #ffa000; }
      @media screen and (max-width: 1080px) {
        #main8 div.main8-detail p,
        #main7 div.main8-detail p,
        #main6 div.main8-detail p,
        #main5 div.main8-detail p,
        #main4 div.main8-detail p,
        #main3 div.main8-detail p,
        #main2 div.main8-detail p,
        #main div.main8-detail p {
          width: 95%; } }
  #main8 div.note,
  #main7 div.note,
  #main6 div.note,
  #main5 div.note,
  #main4 div.note,
  #main3 div.note,
  #main2 div.note,
  #main div.note {
    line-height: 36px; }
    @media screen and (max-width: 1080px) {
      #main8 div.note,
      #main7 div.note,
      #main6 div.note,
      #main5 div.note,
      #main4 div.note,
      #main3 div.note,
      #main2 div.note,
      #main div.note {
        line-height: 24px; } }
  #main8 div.guidence,
  #main7 div.guidence,
  #main6 div.guidence,
  #main5 div.guidence,
  #main4 div.guidence,
  #main3 div.guidence,
  #main2 div.guidence,
  #main div.guidence {
    background-image: url("/img/top/bk.png");
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 1080px) {
      #main8 div.guidence,
      #main7 div.guidence,
      #main6 div.guidence,
      #main5 div.guidence,
      #main4 div.guidence,
      #main3 div.guidence,
      #main2 div.guidence,
      #main div.guidence {
        background-image: url("/img/top/bk_sp.png"); } }
    #main8 div.guidence div.guidence-image-area,
    #main7 div.guidence div.guidence-image-area,
    #main6 div.guidence div.guidence-image-area,
    #main5 div.guidence div.guidence-image-area,
    #main4 div.guidence div.guidence-image-area,
    #main3 div.guidence div.guidence-image-area,
    #main2 div.guidence div.guidence-image-area,
    #main div.guidence div.guidence-image-area {
      width: 90%;
      margin: 0 auto;
      text-align: center; }
  #main8 div.guidence-area,
  #main7 div.guidence-area,
  #main6 div.guidence-area,
  #main5 div.guidence-area,
  #main4 div.guidence-area,
  #main3 div.guidence-area,
  #main2 div.guidence-area,
  #main div.guidence-area {
    width: 100%; }
    #main8 div.guidence-area .fukidashi,
    #main7 div.guidence-area .fukidashi,
    #main6 div.guidence-area .fukidashi,
    #main5 div.guidence-area .fukidashi,
    #main4 div.guidence-area .fukidashi,
    #main3 div.guidence-area .fukidashi,
    #main2 div.guidence-area .fukidashi,
    #main div.guidence-area .fukidashi {
      background-image: url("/img/top/fukidashi.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      text-align: center;
      color: #fff;
      width: 100%;
      height: 80px;
      font-size: 1.2rem;
      padding-top: 15px; }
      @media screen and (max-width: 1080px) {
        #main8 div.guidence-area .fukidashi,
        #main7 div.guidence-area .fukidashi,
        #main6 div.guidence-area .fukidashi,
        #main5 div.guidence-area .fukidashi,
        #main4 div.guidence-area .fukidashi,
        #main3 div.guidence-area .fukidashi,
        #main2 div.guidence-area .fukidashi,
        #main div.guidence-area .fukidashi {
          font-size: 1.0rem;
          background-size: 100%;
          padding: 3% 0px 8% 0px;
          height: auto; } }
  #main8 strong.marker,
  #main7 strong.marker,
  #main6 strong.marker,
  #main5 strong.marker,
  #main4 strong.marker,
  #main3 strong.marker,
  #main2 strong.marker,
  #main strong.marker {
    background: linear-gradient(transparent 50%, #bff3ff 0%); }
  #main8 strong.markerOrenge,
  #main7 strong.markerOrenge,
  #main6 strong.markerOrenge,
  #main5 strong.markerOrenge,
  #main4 strong.markerOrenge,
  #main3 strong.markerOrenge,
  #main2 strong.markerOrenge,
  #main strong.markerOrenge {
    background: linear-gradient(transparent 50%, #ffa000 0%); }
  #main8 .recrult,
  #main7 .recrult,
  #main6 .recrult,
  #main5 .recrult,
  #main4 .recrult,
  #main3 .recrult,
  #main2 .recrult,
  #main .recrult {
    background: linear-gradient(#00a8bd, #5ec6c3); }
    @media screen and (max-width: 1080px) {
      #main8 .recrult,
      #main7 .recrult,
      #main6 .recrult,
      #main5 .recrult,
      #main4 .recrult,
      #main3 .recrult,
      #main2 .recrult,
      #main .recrult {
        margin-top: 10px !important; } }
    #main8 .recrult a,
    #main7 .recrult a,
    #main6 .recrult a,
    #main5 .recrult a,
    #main4 .recrult a,
    #main3 .recrult a,
    #main2 .recrult a,
    #main .recrult a {
      color: #fff;
      width: 100%;
      padding: 25px;
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 1.2rem;
      overflow: auto !important;
      overflow: hidden;
      background: url("/img/top/shop.svg") no-repeat left 35px center, url("/img/top/arrow2.svg") no-repeat right 15px center;
      background-size: 80px,40px;
      font-weight: bold;
      font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif !important; }
      @media screen and (max-width: 1080px) {
        #main8 .recrult a,
        #main7 .recrult a,
        #main6 .recrult a,
        #main5 .recrult a,
        #main4 .recrult a,
        #main3 .recrult a,
        #main2 .recrult a,
        #main .recrult a {
          font-size: 1.0rem;
          background: url("/img/top/shop.svg") no-repeat left 15px center, url("/img/top/arrow2.svg") no-repeat right 15px center;
          background-size: 40px,25px; } }
      #main8 .recrult a:hover,
      #main7 .recrult a:hover,
      #main6 .recrult a:hover,
      #main5 .recrult a:hover,
      #main4 .recrult a:hover,
      #main3 .recrult a:hover,
      #main2 .recrult a:hover,
      #main .recrult a:hover {
        opacity: 0.8;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }

/*# sourceMappingURL=base.css.map */
